body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo,
.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo > .logo-web {
  color: #2e2f42;
}

.nav-menu li a {
  font-weight: 500;
}

.nav-menu li a:hover,
.nav-menu li a:focus {
  color: #404bbf;
}

.nav-menu li a:active {
  text-decoration: underline;
}

.nav-address li a {
  font-style: normal;
  color: #434455;
}

.nav-address li a:hover,
.nav-address li a:focus {
  color: #404bbf;
}

.section-top {
  background: #2e2f42;
}

.section-top .text-h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.section-top .button-top {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
}
.section-top button:hover,
.section-top button:focus {
  background: #404bbf;
}

.section-why h2 {
  display: none;
}

.section-why .text-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.section-why .text {
  color: #434455;
}

.section-team {
  background: #f4f4fd;
}

.section-team .text-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.section-team .text-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.section-team .text {
  text-align: center;
  color: #434455;
}

.section-portfolio .text-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
}

.section-portfolio .text-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-portfolio .text {
  color: #434455;
}

.footer {
  background-color: #2e2f42;
}

.footer .logo > .logo-web {
  color: #f4f4fd;
}

.footer .text {
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
